@{
    ViewBag.Title = "Home Page";
}

<style>
    .tales {
        width: 100%;
    }

    .carousel-inner {
        width: 100%;
        height: 100%;
        max-height: 400px !important;
        min-height: 400px !important;
    }
</style>

<!-- Header Carousel -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill"><img src="~/images/lockets-edit.jpg" alt="" height="400">
            </div>
            <div class="carousel-caption">
                <h2>Motivation Minders</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill">
                <img src="~/images/lockets-full.jpg" alt="" height="400">
            </div>
            <div class="carousel-caption">
                <h2>Don't just envision your goals...</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill">
                <img src="~/images/lockets-header.jpg" alt="" height="400">
            </div>
            <div class="carousel-caption">
                <h2>Capture them!</h2>
            </div>
        </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading" style="color:white; background-color:#d464a0">
                <h4><i class="fa fa-fw fa-check"></i> SUPPORT BREAST CANCER</h4>
            </div>
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                <a href="#" class="btn btn-default">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading" style="color:white; background-color:#f2ce6a">
                <h4><i class="fa fa-fw fa-gift"></i> NEWS AND EVENTS</h4>
            </div>
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                <a href="#" class="btn btn-default">Learn More</a>
            </div>

        </div>
    </div>
</div>