@{
    var roleName = Request["RoleName"];
    var createRole = Request["createRole"];
    var deleteRole = Request["deleteRole"];
    var selectRoleName = Request["selectRoleName"];
    
    if (!string.IsNullOrEmpty(createRole))
    {
        Roles.CreateRole(roleName); 
    }
    else if(!string.IsNullOrEmpty(deleteRole))
    {
        Roles.DeleteRole(selectRoleName);
    }
    Response.Redirect("/butts/");
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    
    </div>
</body>
</html>
